include mixins

doctype
html
	head
		link(rel="stylesheet", href="main.css")
		link(rel="stylesheet", href="fontello-5f24f264/css/fontello-embedded.css")
	body
		.omelet
			form
				.fieldsets
					block BODY
			block MODALS
		script(src="main.js")