omeletLegendHeight = 5em

@import "variables"
@import "nib"
@import "utils"
@import "animations"
@import "global"


.omelet
	position relative
	overflow hidden
	@import "fields"
	@import "buttons"
	@import "dynamicFields"
	@import "colorPicker"
	@import "domainPicker"
	@import "recap"