.recapTitle
	font-weight bold
	text-decoration none
	margin-top .1em
	width 50%
	margin 0 auto
	text-align left
	&:visited,&:link,&:active
		color #aaa
		
.recapField
	width 50%
	box-sizing border-box
	padding .2em
	margin 0 auto
	border-bottom 1px solid #ccc

.recapFieldTitle,.recapBody
	width 50%
	box-sizing border-box
	
.recapFieldTitle
	color #aaa
	text-align right
	
.recapBody
	text-align left
	padding-left .7em
	