//Text Fields
fieldLabelFontWeight = 700
fieldLabelFontSize = 1em
fielLabelInputTextSize = 1.5em
//Help Text Popup
helpTextBackgroundColor = black
helpTextForegroundColor = #fdfdfd
helpTextBoxShadow = .2em .2em .2em rgba(0,0,0,.1)
helpTextArrowWidth = 1em
helpTextArrowHeight = .7em
helpTextFontSize = .8em
//buttons
buttonPaddingX = 1.5em
buttonPaddingY = 2em
buttonTextMarginFromIcon = 1em
buttonLetterSpacing = .4em
buttonTextTransform = uppercase
buttonTextFontSize = 1.3em
buttonTextFontYAdjustment = .2em
navigationButtonsSizeRatio = 1.3em
//domain proposal boxes
domainBoxPadding = .3em
domainBoxHeight = 3em
domainBoxWidth = 95%
domainBoxMargin = .1em
domainBoxBackgroundColor = #b3b3b3
domainBoxFontSize = 1.3em
domainBoxBuyButtonFontSize = .6em
domainBoxSelectedBorderWidth = .3em
domainBoxSelectedBackgroundColor = #eee
domainBoxSelectedBorderColor = rgba(#fdfdfd,.8)